# This file is for a modified Ender 3v2 with Sprite Pro Extruder, BL Touch, with a 4.2.7 silent board

# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

#====================================================================
# INCLUDE MAINSAIL
#====================================================================
[include mainsail.cfg]

#====================================================================
# INCLUDE MACROS
#====================================================================
[include macros.cfg]

#====================================================================
# INCLUDE TIMELAPSE
#====================================================================
[include timelapse.cfg]

#====================================================================
# VIRTUAL SD CARD
#====================================================================
[virtual_sdcard]
path: ~/printer_data/gcodes


#====================================================================
# STEPPER X
#====================================================================
[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.87
endstop_pin: ^PA5
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 75

#====================================================================
# STEPPER Y
#====================================================================
[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.72
endstop_pin: ^PA6
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 75

#====================================================================
# STEPPER Z
#====================================================================
[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 250

#====================================================================
# EXTRUDER
#====================================================================
[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_Kp: 23.561
pid_Ki: 1.208
pid_Kd: 114.859
min_temp: 0
max_temp: 300 # Set to 300 for Sprite Pro Extruder

#====================================================================
# BED
#====================================================================
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


#====================================================================
# BL TOUCH
#====================================================================
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
pin_move_time: 0.675
stow_on_each_sample: True
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
x_offset: -43.5
y_offset: -8
z_offset: 0

#====================================================================
# SAFE Z HOME
#====================================================================
[safe_z_home]
home_xy_position: 147, 154
speed: 75
z_hop: 10
z_hop_speed: 5
move_to_previous: true

#====================================================================
# FILAMENT RUN OUT SENSOR
#====================================================================
#[filament_switch_sensor e0_sensor]
#switch_pin: !PC15
#pause_on_runout: true
#runout_gcode: PAUSE

[pause_resume]
recover_velocity: 25

#====================================================================
# MANUAL BED LEVELING
#====================================================================
[bed_screws]
screw1: 35,35
screw1_name: front left screw
screw2: 35,195
screw2_name: rear left screw
screw3: 195,195
screw3_name: rear right screw
screw4: 195,35
screw4_name: front right screw

#====================================================================
# SCREW ADJUSTMENT
#====================================================================
[screws_tilt_adjust]
screw1: 75,35
screw1_name: front left screw
screw2: 75,192
screw2_name: rear left screw
screw3: 230,192
screw3_name: rear right screw
screw4: 230,35
screw4_name: front right screw
horizontal_move_z: 5
speed: 50
screw_thread: CW-M4

#====================================================================
# BED MESH PARAMETERS
#====================================================================
[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 44,30
mesh_max: 186,200
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#====================================================================
# INPUT SHAPER
#====================================================================
# [input_shaper]
# shaper_freq_x: 70.0
# shaper_type_x: mzv
# shaper_freq_y: 45.4
# shaper_type_y: ei

#====================================================================
# ARC SUPPORT
#====================================================================
# [gcode_arcs]
# resolution: 0.2
